<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="fi">
<head>
	<meta name="keywords" content="shatter,resistant,comic,fun,line,andrew ward,rubenwardy,joseph,mccabe,merridew" />
	<meta name="description" content="Shatter Resistant" />
	<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="bookmark icon" href="/favicon.ico" />
	<title>Minetest Manual</title>
</head>

<body>

 <div class="footerbartop">
</div>
<div id="footerbar" class="footerbar">
	<div class="constrain">
		<span class="inbar_right">
			<ul>
				<li class="navlink_special"><a href="#">Top of Page</a></li>
			</ul>
		</span>
	</div>
</div>

</body>
</html>